body{
    margin: 0;
    padding: 0;
  }

main{
  display: flex;
  flex-direction: column;
}

div.bg{
  background-image: url("/img/praiabg.jpg");
  filter: blur(5px);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}
div.info{ 
  position: absolute;
  justify-content: space-between;
  display: flex;
  top: 30%;
  left: 20%;
  right: 10%;
}

.f1{
  margin: 10px;
  align-content: center;
}

#ft{
  width: 300px;
  height: 400px;
}

#text1{
  border-radius: 10px;
  width: 500px;
  padding: 5px;
  text-align: center;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
  background-color: rgba(31, 168, 169, 0.5);
}

#but1{
  letter-spacing: 3px;
  margin-top: 10px;
  margin-left: 200px;
  width: 100px;
  display: block;
  color: #EBe5ce;
  background-color: #39CACC;
  font-size: 20px;
  text-align: center;
  padding: 7px 8px;
  border-radius: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

#but1:hover {
  background-color: #39CACC;
  color: #EBe5ce;
  border-radius: 10px;
  transition: 1s;
  transform: scale(1.1);
}

.second{
  background: linear-gradient(rgba(9,50,50,1) 14%, rgba(22,117,118,1) 69%, rgba(31,168,169,1) 100%);
  display: flex;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 790px;
}

h2{
  display: flex;
}

.sub{
  margin-left: 80px;
  padding-top: 150px;
  display: flex;
  justify-content:space-around;
  text-align: center;
  width: 40px;
  height: 80px;
}

.box2{
  display: flex;
  margin: 20px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

h3{
  color: white;
  font-size: 50px;
  
}

.subtext{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: white;
  text-align: center;
}

.linha {
  border-left: 2px solid white;
  height: 500px;
}

#but2{
  letter-spacing: 3px;
  width: 100px;
  color: #EBe5ce;
  background-color: #39CACC;
  font-size: 20px;
  text-align: center;
  padding: 7px 8px;
  border-radius: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

#but2:hover {
  background-color: #39CACC;
  color: #EBe5ce;
  border-radius: 10px;
  transition: 1s;
  transform: scale(1.1);
}