main{
    display: flex;
    flex-direction: column;
}

h1{
    position: absolute;
    text-align: center;
    font-size: 60px;
    color: whitesmoke;
    width: 500px;
    top: 15%;
    left: 40%;
    background-color: rgba(31, 168, 169, 0.1);
    border-radius: 10px;
    width: 400px;
}  
div.bg1{
background-image: url("/img/populacao.jpg");
display: flex;
background-repeat: no-repeat;
background-size: cover;
height: 700px;
}

div.info1{ 
    position: absolute;
    justify-content: space-between;
    display: flex;
    top: 40%;
    left: 55%;
    right: 10%;
}
  

#text1{
    border-radius: 10px;
    width: 500px;
    padding: 5px;
    text-align: center;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    color: whitesmoke;
    background-color: rgba(31, 168, 169, 0.6);
}

div.bg2{
background-image: url("/img/praia3.jpg");
display: flex;
background-repeat: no-repeat;
background-size: cover;
height: 750px;
}

div.info2{ 
    position: absolute;
    justify-content: space-between;
    display: flex;
    text-align: center;
    top: 140%;
    left: 5%;
}

#text2{
border-radius: 10px;
width: 500px;
height: 600px;
text-align: center;
font-size: 50px;
font-family: "Times New Roman", Times, serif;
color: whitesmoke;
background-color: rgba(31, 168, 169, 0.5);
}
